* {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar{
  background-color: rgb(194, 55, 55, 0.836);
  color: white;
  display: flex;
  justify-content: space-around;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:rgb(194, 55, 55);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex: 1 0 10vh;
  background: rgb(0, 110, 184);
  text-align: center;
}

h1 {
  text-align: center;
  margin: 10px;
  padding: 0;
}

footer {
  flex: 1 0 5vh;
  background: rgb(0, 110, 184);
  margin-top: auto;
}


main {
  flex: 1 0 80vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

section:first-child{
  display: flex;
  justify-content: center;

}

section h2 {
  text-align: center;
  background-color: salmon;
  color: rgb(255, 255, 255);
  padding: 10px;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

@media (max-height: 400px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 0 100vh;
  }
}